#Q1:
sum the numbers in the list.
[2,3,90,89,45,09]

In [19]:
L1 = [2,3,90,89,45,9]
total = sum(L1)
print(total)

238

# Q2:
Add the following data in list above.
1. python
2. 5.9
3. follow
4. [math, 20]
5. [English,80]

In [24]:
py = ['python']
num = [5.9]
fo = ['follow']
sub1 = ['math', 20]
sub2 = ['English',80]
l2 = py+num+fo+sub1+sub2
print(l2)

['python', 5.9, 'follow', 'math', 20, 'English', 80]

# Q 3:
Remove the last element from the following list.

[hyder,8,badin,67,50]

In [30]:
l1 = ['hyder',8,'badin',67,50]
l1.pop(-1)
l1

['hyder', 8, 'badin', 67]

#Q 4: 
Remove the Egg string from the list below.

[flour,30,sugar,90,egg,2,salt,100,gold,10]

In [36]:
l1 = ['flour',30,'sugar',90,'egg',2,'salt',100,'gold',10]
l1.remove('egg')
l1

['flour', 30, 'sugar', 90, 2, 'salt', 100, 'gold', 10]

# Q5:
Merge the lists from the following.

list1 = [8,9,0,90,2,100]

list2 = [1,2,3,4,5]

In [38]:
list1 = [8,9,0,90,2,100]

list2 = [1,2,3,4,5]
list1.append(list2)
list1

[8, 9, 0, 90, 2, 100, [1, 2, 3, 4, 5]]

# Q6:
Make reverse list of following lists.

1. [shaheen,badin,life,19,45]
2. [get,fight,right,light,bright]
3. [make,cake,sake, lake, bake]
4. [30,80,90,08,9.5]

In [45]:
l1 = ['shaheen','badin','life',19,45]
l2 = ['get','fight','right','light','bright']
l3 = ['make','cake','sake', 'lake', 'bake']
l4 = [30,80,90,8,9.5]
print(l1 [::-1])
print(l2 [::-1])
print(l3 [::-1])
print(l4 [::-1])

[45, 19, 'life', 'badin', 'shaheen']
['bright', 'light', 'right', 'fight', 'get']
['bake', 'lake', 'sake', 'cake', 'make']
[9.5, 8, 90, 80, 30]

# Q7:
Create a nested list. list one will be main list list 2 will be nested list.

list1 = [kite,flight,55,99,66]
list2 = [great,56,pos,light,20]

In [48]:
list1 = ['kite','flight',55,99,66] 
list2 = ['great',56,'pos','light',20]
main_list = [list1,list2]
main_list

[['kite', 'flight', 55, 99, 66], ['great', 56, 'pos', 'light', 20]]

# Q8:
Extrate the "pos" from nested list.

In [84]:
list1 = ['kite','flight',55,99,66] 
list2 = ['great',56,'pos','light',20]
main_list = [list1,list2]
list2.remove('pos')
main_list

[['kite', 'flight', 55, 99, 66], ['great', 56, 'light', 20]]

#Q9:
Sort the following lists in ascending order:

1. [89,67,76,45,32,47,34,12,21]
2. [r,f,t,g,y,w,c,v,k,q]

In [52]:
l1 = [89,67,76,45,32,47,34,12,21]
l2 = ['r','f','t','g','y','w','c','v','k','q']
l1.reverse()
l2.reverse()
print(l1)
print(l2)

[21, 12, 34, 47, 32, 45, 76, 67, 89]
['q', 'k', 'v', 'c', 'w', 'y', 'g', 't', 'f', 'r']

# Q10:
Sort the Following lists in descending order.

1. [10,5,45,33,9,190,54,34]
2. [acdf,klmn,iops,wklm,npoi]

In [78]:
l1 = [10,5,45,33,9,190,54,34]
l2 = ['acdf','klmn','iops','wklm','npoi']
l1 = sorted(l1, reverse=True)
l2 = sorted(l2, reverse=True)
print(l1)
print(l2)

[190, 54, 45, 34, 33, 10, 9, 5]
['wklm', 'npoi', 'klmn', 'iops', 'acdf']